<form>
    <div class="container">
        <form action="action_page.php">
    
             <h1>PROFILS </h1>

        <label for="fname">NOM</label>
        <input type="text" id="id" name="nom" placeholder="nom..">
    
        <label for="lname">PRENOM</label>
        <input type="text" id="pname" name="pname" placeholder=" prenom..">
        
        <label for="prof">PROFIL</label>
        <select id="prof" name="prof">
          <option value="stag">STAGIAIRE</option>
          <option value="profession">PROFESIONNEL</option>
          <option value="etud">ETUDIANT</option>
        </select>
    
        <input type="submit" value="rechercher">
    
      </form>
    </div>
