<!--div id="searchbar">
            <h1> BIENVENU SUR GETOFFER</h1>

 
 
            <div id="myOverlay" class="overlay">
              <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
              <div class="overlay-content">
                <form action="action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div-->
          <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
          
          <div class="s01">
            <form>
              <fieldset>
                <legend>GETOFFER</legend>
              </fieldset>
              <div class="inner-form">
                <div class="input-field first-wrap">
                  <input id="search" type="text" placeholder="Quel job cherchez-vous?" />
                </div>
                <div class="input-field second-wrap">
                  <input id="location" type="text" placeholder="localisation" />
                </div>
                <div class="input-field third-wrap">
                  <button class="btn-search" type="button">Rechercher</button>
                </div>
              </div>
            </form>
          </div>

           

