<div id="searchbar">
            <h1> BIENVENU SUR GETOFFER</h1>

 
 
            <div id="myOverlay" class="overlay">
              <span class="closebtn" onclick="closeSearch()" title="Close Overlay">x</span>
              <div class="overlay-content">
                <form action="action_page.php">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            </div>
          </div>

           

<!--form class="example" action="/action_page.php">
  <input type="text" placeholder="Search.." name="search">
  <button type="submit"><i class="fa fa-search"></i></button>
</form-->
<!--div class="topnav">
    <P>QUE CHERCHEZ-VOUS?</p>
    <input type="text" placeholder="Search..">
  </div--> 
