

   <div class="navbar">
  <a href="#home">ESPACE CANDIDAT</a>
  <div class="subnav">
    <button class="subnavbtn">Offres d'Emploi <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="publier">toutes les offres</a>
      <a href="#team">offres par ville</a>
      <a href="#careers">offres par entreprises</a>
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Qui Etes-Vous?<i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
        <a href="profils">Profils</a>
      
    </div>
  </div> 
  <div class="subnav">
    <button class="subnavbtn">Orientation <i class="fa fa-caret-down"></i></button>
    <div class="subnav-content">
      <a href="#link1">CV</a>
      <a href="#link2">lettre de motivation</a>
    </div>
  </div>
  <a href="#contact">Profils d'entreprise</a>
</div>















