<!-- [formGroup]="offreeForm" (ngSubmit)="onSaveOffre()" -->
  <div class="container"  [formGroup]="offreeForm" (ngSubmit)="onSaveOffre()">
    
    <form>

      <label for="fname">ID ENTREPRISE</label>
      <input type="text" id="id" name="id" formControlName="id" placeholder="id">
  
      <label for="lname" >NOM</label>
      <input type="text" id="nom" name="nom" formControlName="nom" placeholder=" nom..">

      <label for="prof">PROFIL</label>
      <input type="text" id="profil" name="profil" formControlName="profil" placeholder=" profil..">

      <label for="sal">SALAIRE</label>
      <input type="text" id="salaire" name="salaire" formControlName="salaire" placeholder="  salaire..">
  
      <label for="contra">CONTRAT</label>
      <select id="contrat" name="contrat" formControlName="contrat">
        <option value="cdd">CDD</option>
        <option value="cdi">CDI</option>
        <option value="stage">STAGE</option>
      </select>
  
      <label for="descrip">DESCRIPTION</label>
      <textarea id="description" name="subject" formControlName="description" placeholder="decrire.." style="height:200px"></textarea>
  
      <input type="submit" value="Poster">
  
    </form>
  </div>
